body {
    background-color: black;
    border-color: rgb(47,51,54);
    margin-left: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

.wd-A-parent-div {
    height: 24px;
    margin-bottom: 5px;
}

.wd-A-search-bar {
    background-color: darkgray;
    color: white;
    border-radius: 12px;
    float: left;
    height: 24px;
    width: calc(100vw - 72px);
}

.wd-A-gear {
    color: white;
    position: absolute;
    right: 12px;
    top: 12px;
    float: right;
    height: 24px;
    width: 24px;
}

.wd-B-parent-div {
    display: flex;
    justify-content: space-around;
    color: white;
    border-bottom: .1em solid rgb(110, 118, 125);
}

.wd-B-tab {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px
}

.wd-B-selected-tab {
    color: rgb(29,161,242);
    border-bottom: .25em solid rgb(29,161,242);
}

.wd-suggested-small-text {
    font-weight: normal;
    font-size: 13px;
    color: rgb(110, 118, 125)
}

.wd-suggested-large-text {
    font-size: 16px;
    font-weight: bold;
    margin: -10px 0px;
}

.wd-suggested-parent-div {
    float: left;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: calc(100vw - 32px);
    border-color: rgb(47,51,54);
}

.wd-suggested-middle-text {
    color: white;
    font-size: 13px;
}

.wd-stacked-text {
    width: calc(100% - 132px);
    float: left;
}

.wd-suggested-image-div {
    float:right;
    margin-top: 8px;
    margin-bottom: 4px;
}

.wd-suggested-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    position: relative;
    
}